@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
:root {
  --white: white;
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 10%, 30%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
  --dark-orange: hsl(25, 84%, 43%);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Overpass", sans-serif;
  background: hsl(216, 12%, 8%);
  font-size: 15px;
}

.container {
  position: relative;
  margin: 130px auto;
  width: 27%;
}

#rating {
  background: var(--dark-blue);
  height: 330px;
  color: var(--light-grey);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.star {
  background: var(--medium-grey);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

#rating h1 {
  color: white;
  margin-block-end: 0;
  margin-block-start: 0;
}

#rating p {
  line-height: 23px;
}

#num {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#num div label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--medium-grey);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 200ms;
}

#num div label:hover {
  background: var(--light-grey);
  color: var(--white);
}

#num div label:active {
  background: var(--orange);
  color: var(--white);
}

#num div input {
  content: "1";
}

#num > div input:checked ~ label {
  background: var(--orange);
  color: var(--white);
}

#num > div input:not(:checked) ~ label {
  background: var(--medium-grey);
}

#num > div input:not(:checked) ~ label:hover {
  background: var(--light-grey);
}

button {
  margin-top: 10px;
  border: none;
  background: var(--orange);
  color: var(--white);
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: 200ms;
  cursor: pointer;
}

button:hover {
  background: var(--dark-orange);
}

button:active,
button:checked {
  color: var(--orange);
  background: var(--white);
}

#thank {
  position: absolute;
  top: 0;
  background: var(--dark-blue);
  height: 310px;
  display: none;
  flex-direction: column;
  padding: 30px 20px;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  border-radius: 20px;
  color: var(--light-grey);
  transition: 300ms;
}

#thank img {
  width: 45%;
  margin-bottom: 20px;
}

#thank h2 {
  color: white;
  margin-block-end: 0;
}

#thank div {
  background: var(--medium-grey);
  color: var(--orange);
  border-radius: 20px;
  padding: 2px 13px 1px 13px;
}

#thank p {
  line-height: 20px;
  text-align: center;
}


@media (max-width: 425px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 375px) {
  .container {
    width: 90%;
  }
}
